Change point
<br>
<h2>Loss(RMSE) : 0.23661</h2>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Encoder
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

In [3]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
sub = pd.read_csv('./data/sample_submission.csv')

In [4]:
test['SalePrice'] = np.nan
train_x = train.drop('SalePrice',axis=1)
train_y = train['SalePrice']
df = pd.concat([train_x,test],ignore_index=True,sort=False)

In [5]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,NaN
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,NaN
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,NaN
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,NaN
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,NaN
2915,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,NaN
2916,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,NaN
2917,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,NaN
2918,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,NaN

In [6]:
#20 Columns
Tier2 =  ['MSSubClass','MSZoning','LotArea','LandContour','Neighborhood',
        'Condition1','Condition2','HouseStyle','OverallQual','YearBuilt',
        'YearRemodAdd','TotalBsmtSF','1stFlrSF','2ndFlrSF',
        'GrLivArea','TotRmsAbvGrd','SaleType','SaleCondition']

<h3>Feature Engneering</h3>

In [7]:
df = df[Tier2]

#null
- MSZoning :4
- Exterior1st:1
- TotalBsmtSF:1
- SaleType:1

In [8]:
df

,MSSubClass,MSZoning,LotArea,LandContour,Neighborhood,Condition1,Condition2,HouseStyle,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,TotRmsAbvGrd,SaleType,SaleCondition
0,60,RL,8450,Lvl,CollgCr,Norm,Norm,2Story,7,2003,2003,856.0,856,854,1710,8,WD,Normal
1,20,RL,9600,Lvl,Veenker,Feedr,Norm,1Story,6,1976,1976,1262.0,1262,0,1262,6,WD,Normal
2,60,RL,11250,Lvl,CollgCr,Norm,Norm,2Story,7,2001,2002,920.0,920,866,1786,6,WD,Normal
3,70,RL,9550,Lvl,Crawfor,Norm,Norm,2Story,7,1915,1970,756.0,961,756,1717,7,WD,Abnorml
4,60,RL,14260,Lvl,NoRidge,Norm,Norm,2Story,8,2000,2000,1145.0,1145,1053,2198,9,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,160,RM,1936,Lvl,MeadowV,Norm,Norm,2Story,4,1970,1970,546.0,546,546,1092,5,WD,Normal
2915,160,RM,1894,Lvl,MeadowV,Norm,Norm,2Story,4,1970,1970,546.0,546,546,1092,6,WD,Abnorml
2916,20,RL,20000,Lvl,Mitchel,Norm,Norm,1Story,5,1960,1996,1224.0,1224,0,1224,7,WD,Abnorml
2917,85,RL,10441,Lvl,Mitchel,Norm,Norm,SFoyer,5,1992,1992,912.0,970,0,970,6,WD,Normal
2918,60,RL,9627,Lvl,Mitchel,Norm,Norm,2Story,7,1993,1994,996.0,996,1004,2000,9,WD,Normal

In [9]:
df.dropna(how='any', axis=1,inplace=True)

<ipython-input-9-4b24d1558573>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(how='any', axis=1,inplace=True)

In [10]:
df.isnull().sum()

MSSubClass       0
LotArea          0
LandContour      0
Neighborhood     0
Condition1       0
Condition2       0
HouseStyle       0
OverallQual      0
YearBuilt        0
YearRemodAdd     0
1stFlrSF         0
2ndFlrSF         0
GrLivArea        0
TotRmsAbvGrd     0
SaleCondition    0
dtype: int64

In [11]:
#Label Encoding
for i in range(df.shape[1]):
    if df.iloc[:,i].dtypes == object:
        LE.fit(list(df.iloc[:,i].values))
        df.iloc[:,i] = LE.transform(list(df.iloc[:,i].values))

C:\Users\yusuk\anaconda3\envs\AI_Learning\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

<h3>Modelling</h3>

In [12]:
df

,MSSubClass,LotArea,LandContour,Neighborhood,Condition1,Condition2,HouseStyle,OverallQual,YearBuilt,YearRemodAdd,1stFlrSF,2ndFlrSF,GrLivArea,TotRmsAbvGrd,SaleCondition
0,60,8450,3,5,2,2,5,7,2003,2003,856,854,1710,8,4
1,20,9600,3,24,1,2,2,6,1976,1976,1262,0,1262,6,4
2,60,11250,3,5,2,2,5,7,2001,2002,920,866,1786,6,4
3,70,9550,3,6,2,2,5,7,1915,1970,961,756,1717,7,0
4,60,14260,3,15,2,2,5,8,2000,2000,1145,1053,2198,9,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,160,1936,3,10,2,2,5,4,1970,1970,546,546,1092,5,4
2915,160,1894,3,10,2,2,5,4,1970,1970,546,546,1092,6,0
2916,20,20000,3,11,2,2,2,5,1960,1996,1224,0,1224,7,0
2917,85,10441,3,11,2,2,6,5,1992,1992,970,0,970,6,4
2918,60,9627,3,11,2,2,5,7,1993,1994,996,1004,2000,9,4

In [13]:
train_x = df[:len(train_x)]
test_x = df[len(train):]

In [14]:
test_x

,MSSubClass,LotArea,LandContour,Neighborhood,Condition1,Condition2,HouseStyle,OverallQual,YearBuilt,YearRemodAdd,1stFlrSF,2ndFlrSF,GrLivArea,TotRmsAbvGrd,SaleCondition
1460,20,11622,3,12,1,2,2,5,1961,1961,896,0,896,5,4
1461,20,14267,3,12,2,2,2,6,1958,1958,1329,0,1329,6,4
1462,60,13830,3,8,2,2,5,5,1997,1998,928,701,1629,6,4
1463,60,9978,3,8,2,2,5,6,1998,1998,926,678,1604,7,4
1464,120,5005,1,22,2,2,2,8,1992,1992,1280,0,1280,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,160,1936,3,10,2,2,5,4,1970,1970,546,546,1092,5,4
2915,160,1894,3,10,2,2,5,4,1970,1970,546,546,1092,6,0
2916,20,20000,3,11,2,2,2,5,1960,1996,1224,0,1224,7,0
2917,85,10441,3,11,2,2,6,5,1992,1992,970,0,970,6,4
2918,60,9627,3,11,2,2,5,7,1993,1994,996,1004,2000,9,4

In [20]:
test_x

,MSSubClass,LotArea,LandContour,Neighborhood,Condition1,Condition2,HouseStyle,OverallQual,YearBuilt,YearRemodAdd,1stFlrSF,2ndFlrSF,GrLivArea,TotRmsAbvGrd,SaleCondition
1460,20,11622,3,12,1,2,2,5,1961,1961,896,0,896,5,4
1461,20,14267,3,12,2,2,2,6,1958,1958,1329,0,1329,6,4
1462,60,13830,3,8,2,2,5,5,1997,1998,928,701,1629,6,4
1463,60,9978,3,8,2,2,5,6,1998,1998,926,678,1604,7,4
1464,120,5005,1,22,2,2,2,8,1992,1992,1280,0,1280,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,160,1936,3,10,2,2,5,4,1970,1970,546,546,1092,5,4
2915,160,1894,3,10,2,2,5,4,1970,1970,546,546,1092,6,0
2916,20,20000,3,11,2,2,2,5,1960,1996,1224,0,1224,7,0
2917,85,10441,3,11,2,2,6,5,1992,1992,970,0,970,6,4
2918,60,9627,3,11,2,2,5,7,1993,1994,996,1004,2000,9,4

In [15]:
#Convert to numpy array
X = train_x
Y = train_y
test_x =test_x

In [17]:
X

,MSSubClass,LotArea,LandContour,Neighborhood,Condition1,Condition2,HouseStyle,OverallQual,YearBuilt,YearRemodAdd,1stFlrSF,2ndFlrSF,GrLivArea,TotRmsAbvGrd,SaleCondition
0,60,8450,3,5,2,2,5,7,2003,2003,856,854,1710,8,4
1,20,9600,3,24,1,2,2,6,1976,1976,1262,0,1262,6,4
2,60,11250,3,5,2,2,5,7,2001,2002,920,866,1786,6,4
3,70,9550,3,6,2,2,5,7,1915,1970,961,756,1717,7,0
4,60,14260,3,15,2,2,5,8,2000,2000,1145,1053,2198,9,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,7917,3,8,2,2,5,6,1999,2000,953,694,1647,7,4
1456,20,13175,3,14,2,2,2,6,1978,1988,2073,0,2073,7,4
1457,70,9042,3,6,2,2,5,7,1941,2006,1188,1152,2340,9,4
1458,20,9717,3,12,2,2,2,5,1950,1996,1078,0,1078,5,4
1459,20,9937,3,7,2,2,2,5,1965,1965,1256,0,1256,6,4

In [18]:
from sklearn.feature_selection import SelectKBest
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_validate

In [19]:
select = SelectKBest(k= 15)

clf = RandomForestClassifier(random_state=10,
                             warm_start=True,
                            n_estimators = 26,
                            max_depth=6,
                            max_features='sqrt')
pipeline = make_pipeline(select,clf)
pipeline.fit(X,Y)

Pipeline(steps=[('selectkbest', SelectKBest(k=15)),
                ('randomforestclassifier',
                 RandomForestClassifier(max_depth=6, max_features='sqrt',
                                        n_estimators=26, random_state=10,
                                        warm_start=True))])

<h3>Evaluation</h3>

In [20]:
from sklearn.metrics import mean_squared_error
cv_result = cross_validate(pipeline, X, Y, cv= 10)
print('RMSR = ', np.sqrt(cv_result['test_score']))

C:\Users\yusuk\anaconda3\envs\AI_Learning\lib\site-packages\sklearn\model_selection\_split.py:670: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"

RMSR =  [0.14334554 0.14334554 0.08276059 0.08276059 0.16552118 0.16552118
 0.         0.08276059 0.08276059 0.16552118]

In [23]:
# --------　採用した特徴量 ---------------
# 採用の可否状況
mask= select.get_support()

# 項目のリスト
list_col = list(df.columns[1:])

# 項目別の採用可否の一覧表
for i, j in enumerate(list_col):
    print('No'+str(i+1), j,'=',  mask[i])

# シェイプの確認
X_selected = select.transform(X)
print('X.shape={}, X_selected.shape={}'.format(X.shape, X_selected.shape))

# ----- Submit dataの作成　------- 
Id=test['Id']
predictions = pipeline.predict(test_x)
submission = pd.DataFrame({"Id": Id, "SalePrice": predictions})
submission.to_csv("submission20201115.csv", index=False)

No1 LotArea = True
No2 LandContour = True
No3 Neighborhood = True
No4 Condition1 = True
No5 Condition2 = True
No6 HouseStyle = True
No7 OverallQual = True
No8 YearBuilt = True
No9 YearRemodAdd = True
No10 1stFlrSF = True
No11 2ndFlrSF = True
No12 GrLivArea = True
No13 TotRmsAbvGrd = True
No14 SaleCondition = True
X.shape=(1460, 15), X_selected.shape=(1460, 15)